@using Blazored.Toast.Configuration
@using VisualGraph.Client.Services
@inherits LayoutComponentBase
@inject NavigationManager navigationManager
<BlazoredToasts Position="ToastPosition.TopLeft"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="oi oi-thumbs-up"
                ErrorIcon="oi oi-bug"
                InfoIcon="oi oi-lightbulb" />
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row pl-4 navbar navbar-dark">
        <div class="form-group ml-auto"><AccountMenuComponent /></div>
    </div>
    <div class="content vh-100">
        @Body
    </div>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
