@using Newtonsoft.Json


<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-person"></span> @(authenticationState.Result.User.Identity.Name)
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/account">Verwalten</a>
                <a class="dropdown-item" href="/account/logout"><span class="oi oi-account-logout"></span> Abmelden</a>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-person"></span> @("Gast")
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/account/login"><span class="oi oi-account-login"></span>Anmelden oder registrieren</a>
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>
@code {
    UserModel UserModel = new UserModel();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }


}
