@inject IGraphService GraphService
<label for="scales">Maßstäbe</label>
<div class="form-group form-inline">
    <label class="col-form-label" for="scalex">X:</label>
    <input @bind="scalex" class="form-control" type="number" min="1" max="100" />
    <label class="col-form-label ml-4" for="scaley">Y:</label>
    <input @bind="scaley" class="form-control" type="number" min="1" max="100" />
</div>
<button class="btn btn-success" @onclick="@(async () => { await GraphService.LayoutGraph(scalex, scaley); await OnSubmit.InvokeAsync(null); })">Ausführen</button>

@code {

    double scalex = 2;
    double scaley = 2;
    /// <summary>
    /// Callback welches ausgeführt werden soll, wenn das Layout bereczhnet wurde.
    /// </summary>
    [Parameter]
    public EventCallback OnSubmit { get; set; }
}
