@using VisualGraph.Client.CommandProcessing
@inject IGraphService graphService
<h3>Graph aus Skript importieren</h3>
<span>
    <InputFile OnChange="@processScript" />
</span>



@code {
    private IFileListEntry file;

    private async void processScript(IFileListEntry[] files)
    {
        if (files.Length == 0) return;
        file = files.First();
        graphService.CurrentGraphModel.Nodes = new List<Node>();
        graphService.CurrentGraphModel.Edges = new List<Edge>();
        var graphCP = new GraphCommandProcessor(graphService.CurrentGraphModel);
        string line = string.Empty;
        System.IO.StreamReader filereader = new System.IO.StreamReader(file.Data);
        int linecnt = 0;
        while ((line = await filereader.ReadLineAsync()) != null)
        {
            if (line.Trim() != "")
            {
                if (linecnt++ == 0)
                {
                    if (line.Contains("name:"))
                    {
                        graphService.CurrentGraphModel.Name = line.Split(':')[1].Trim().Replace(" ", "_");
                        continue;
                    }
                    else
                    {
                        graphService.CurrentGraphModel.Name = file.Name;
                    }
                }
                graphCP.Process(line);
            }
        }
        filereader.Close();
        await graphService.Rerender();
    }
}
