@page "/console"
@using Blazored.Toast.Configuration
@inject IGraphService GraphService

<div class="flex-wrapper">
    <div class="flex-wrapper-title">
        <h3>Konsole</h3>
        <hr />
    </div>
    <div class="left-container">
        @GraphService.GetRenderFragment().Result
        <GraphConsole />
    </div>
</div>