@page "/create"
@using System.IO
@using Blazored.Toast.Configuration
@inject IGraphService GraphService

<div class="flex-wrapper">
    <BlazoredToasts Position="ToastPosition.TopLeft"
                    Timeout="2"
                    SuccessClass="success-toast-override"
                    SuccessIconClass="oi oi-thumbs-up"
                    ErrorIconClass="oi oi-bug"  />
    <div class="flex-wrapper-title">
        <h3>Graph erstellen und bearbeiten</h3>
        <hr />
    </div>
    <div class="left-container">
        @GraphService.GetRenderFragment().Result
    </div>
</div>

@code {
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        
    }

}

