@page "/loading"
<div class="d-flex vh-100 w-100 justify-items-center">
    <h1 class="logo"><span id="spinner">loading</span><span class="bannerhighlight">V</span>isual<span class="bannerhighlight">G</span>raph</h1>
</div>

