@page "/Account/Login"
@using System.Text
@using System.Text.Json.Serialization;
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Authorization

@inherits AccountComponentBase

<div class="card">
    <div class="card-header">
        <p class="card-title">Login</p>
    </div>
    <div class="card-body">
        <div class="form-group form-inline">
            <label class="col-form-label">Benutzername:</label><input class="form-control" type="text" @bind="username" />
        </div>
        <div class="form-group form-inline">
            <label class="col-form-label">Passwort:</label><input class="form-control" type="password" @bind="passwd" />
        </div>
        <p class="alert">@userModel.ErrorMessage</p>
        <button class="btn btn-success" @onclick="Login">Login</button>
    </div>
    <div class="card-footer">
        <p class="card-text">Kein Account? <a href="account/register">Hier registrieren</a></p>
    </div>
</div>
@ChildContent



@code {

    public string username = "";
    private string passwd = "";
    UserModel userModel = new UserModel();
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    override protected async Task OnInitializedAsync()
    {
        var isAuth = await AccountService.UserIsAuthenticated();
        if (isAuth)
        {
            AccountService.NavigationManager.NavigateTo("/");
        }
    }

    private async Task Login()
    {
        userModel = new UserModel()
        {
            Username = username,
            Password = passwd,
        };
        await AccountService.LogIn(userModel);
    }
}
