<?xml version="1.0" encoding="utf-8"?>
<GraphStyleParametersPOCO xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Padding>3</Padding>
  <TextSize>1.5</TextSize>
  <TextColor>#000000</TextColor>
  <NodeRadius>1</NodeRadius>
  <NodeStrokeColor>black</NodeStrokeColor>
  <NodeStrokeWidth>0.1</NodeStrokeWidth>
  <NodeFill>#8cd9d9</NodeFill>
  <NodeActiveFill>rgba(0, 79, 224, 1)</NodeActiveFill>
  <NodeStartFill>rgba(0, 255, 224, 1)</NodeStartFill>
  <NodeEndFill>rgba(79,0,224,1)</NodeEndFill>
  <EdgeStrokeColor>#d966ff</EdgeStrokeColor>
  <EdgeWidth>0.1</EdgeWidth>
  <EdgeRouteColor>lime</EdgeRouteColor>
  <EdgeRouteWidth>0.2</EdgeRouteWidth>
  <EdgeHighlitingColor>fuchsia</EdgeHighlitingColor>
  <EdgeHighlitingWidth>0.3</EdgeHighlitingWidth>
</GraphStyleParametersPOCO>