@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject VisualGraph.Data.Additional.Interfaces.IGraphService graphService
@implements VisualGraph.Components.Additional.Interfaces.IRefreshableParent
<BlazoredToasts Position="ToastPosition.TopLeft"
                Timeout="5"
                SuccessClass="success-toast-override"
                SuccessIconClass="oi oi-thumbs-up"
                ErrorIconClass="oi oi-bug" />
<div class="sidebar">
    <NavMenu />
</div>
<div id="settings" class="collapse vh-100 mh-100">
    <div class="col-sm-12" style="overflow:hidden auto; max-height:100%;">
        <VisualGraph.Pages.Settings StyleParameters="graphService.GraphStyleParameters" />
    </div>
</div>
<div id="Edit" class="collapse width vh-100 mh-100" >
    <GraphEditForm GraphModel="@graphService.CurrentGraph.GraphModel"/>
</div>
<div class="main">
    <div class="content vh-100">
        @Body
    </div>
</div>
@code{
    protected override void OnInitialized()
    {
        graphService.LoadGraphStyleParameters();
        StateHasChanged();
        base.OnInitialized();
    }
    void Refresh() {
        StateHasChanged();
    }
    void Refresh(BasicGraphModel graph)
    {
        StateHasChanged();
    }

}