@page "/console"
@using Blazored.Toast.Configuration
@inject IGraphService GraphService

<div class="flex-wrapper">
    <BlazoredToasts Position="ToastPosition.TopLeft"
                    Timeout="2"
                    SuccessClass="success-toast-override"
                    SuccessIconClass="oi oi-thumbs-up"
                    ErrorIconClass="oi oi-bug" />
    <div class="flex-wrapper-title">
        <h3>Console</h3>
        <hr />
    </div>
    <div class="left-container">
        @GraphService.GetRenderFragment().Result
        <GraphConsole />
    </div>
</div>

@code{

}
