@page "/Account/Logout"
@inject NavigationManager navigatorionManager
<h3>LogoutComponent</h3>

@code { 
    public string returnurl { get; set; }
    override protected async Task OnInitializedAsync()
    {
        navigatorionManager.NavigateTo("api/accont/logout");
    }
}
