@inject IGraphService graphService
@inject IToastService toastService
@inject NavigationManager navigationManager

    <EditForm Model="StyleParameters" OnValidSubmit="SaveSettings">

        <h3>Einstellungen</h3>

        <div class="card">
            <h4>SVG Container</h4>
            <div class="form-group form-inline">
                <label for="padding" class="col-sm-3 col-form-label text-right">Padding</label>
                <InputNumber class="form-control input-sm col" id="padding" @bind-Value="StyleParameters.Padding"></InputNumber>
            </div>
        </div>
        <div class="card">
            <h4>Text</h4>
            <div class="form-group form-inline">
                <label for="textsize" class="col-sm-3 col-form-label text-right">Größe</label>
                <InputNumber class="form-control input-sm col" id="textsize" @bind-Value="StyleParameters.TextSize"></InputNumber>
            </div>
            <div class="form-group form-inline">
                <label for="textcolor" class="col-sm-3 col-form-label text-right">Farbe</label>
                <InputText class="form-control input-sm col" id="textcolor" @bind-Value="StyleParameters.TextColor"></InputText>
                <div class="colorpreview" style="background-color:@StyleParameters.TextColor"></div>
            </div>
        </div>
        <div class="card">
            <h4>Knoten</h4>
            <div class="form-group form-inline">
                <label for="noderadius" class="col-sm-3 col-form-label text-right">Radius</label>
                <InputNumber class="form-control input-sm col" id="noderadius" @bind-Value="StyleParameters.NodeRadius"></InputNumber>
            </div>
            <div class="form-group form-inline">
                <label for="nodeFill" class="col-sm-3 col-form-label text-right">Farbe</label>
                <InputText class="form-control input-sm col" id="nodeFill" @bind-Value="StyleParameters.NodeFill"></InputText>
                <div class="colorpreview" style="background-color:@StyleParameters.NodeFill"></div>
            </div>
            <div class="form-group form-inline">
                <label for="nodeStartFill" class="col-sm-3 col-form-label text-right">Farbe Startknoten</label>
                <InputText class="form-control input-sm col" id="nodeStartFill" @bind-Value="StyleParameters.NodeStartFill"></InputText>
                <div class="colorpreview" style="background-color:@StyleParameters.NodeStartFill"></div>
            </div>
            <div class="form-group form-inline">
                <label for="nodeEndFill" class="col-sm-3 col-form-label text-right">Farbe Endknoten</label>
                <InputText class="form-control input-sm col" id="nodeEndFill" @bind-Value="StyleParameters.NodeEndFill"></InputText>
                <div class="colorpreview" style="background-color:@StyleParameters.NodeEndFill"></div>
            </div>
            <div class="form-group form-inline">
                <label for="nodeActiveFill" class="col-sm-3 col-form-label text-right">Farbe aktiver Knoten</label>
                <InputText class="form-control input-sm col" id="nodeActiveFill" @bind-Value="StyleParameters.NodeActiveFill"></InputText>
                <div class="colorpreview" style="background-color:@StyleParameters.NodeActiveFill"></div>
            </div>
            <div class="form-group form-inline">
                <label for="nodeStrokeColor" class="col-sm-3 col-form-label text-right">Outline Farbe</label>
                <InputText class="form-control input-sm col" id="nodeStrokeColor" @bind-Value="StyleParameters.NodeStrokeColor"></InputText>
                <div class="colorpreview" style="background-color:@StyleParameters.NodeStrokeColor"></div>
            </div>
            <div class="form-group form-inline">
                <label for="nodeStrokeWidth" class="col-sm-3 col-form-label text-right">Outline Stärke</label>
                <InputNumber class="form-control input-sm col" id="nodeStrokeWidth" @bind-Value="StyleParameters.NodeStrokeWidth"></InputNumber>
            </div>
        </div>
        <div class="card">
            <h4>Kanten</h4>
            <div class="form-group form-inline">
                <label for="edgeWidth" class="col-sm-3 col-form-label text-right">Stärke</label>
                <InputNumber class="form-control input-sm col" id="edgeWidth" @bind-Value="StyleParameters.EdgeWidth"></InputNumber>
            </div>
            <div class="form-group form-inline">
                <label for="edgeStrokeColor" class="col-sm-3 col-form-label text-right">Farbe</label>
                <InputText class="form-control input-sm col" id="edgeStrokeColor" @bind-Value="StyleParameters.EdgeStrokeColor"></InputText>
                <div class="colorpreview" style="background-color:@StyleParameters.EdgeStrokeColor"></div>
            </div>
            <div class="form-group form-inline">
                <label for="EdgeRouteColor" class="col-sm-3 col-form-label text-right">Pfad Farbe</label>
                <InputText class="form-control input-sm col" id="edgeRouteColor" @bind-Value="StyleParameters.EdgeRouteColor"></InputText>
                <div class="colorpreview" style="background-color:@StyleParameters.EdgeRouteColor"></div>
            </div>
            <div class="form-group form-inline">
                <label for="edgeRouteWidth" class="col-sm-3 col-form-label text-right">Pfad Stärke</label>
                <InputNumber class="form-control input-sm col" id="edgeRouteWidth" @bind-Value="StyleParameters.EdgeRouteWidth"></InputNumber>
            </div>
            <div class="form-group form-inline">
                <label for="edgeHighlitingWidth" class="col-sm-3 col-form-label text-right">Highlight Stärke</label>
                <InputNumber class="form-control input-sm col" id="edgeHighlitingWidth" @bind-Value="StyleParameters.EdgeHighlitingWidth"></InputNumber>
            </div>
            <div class="form-group form-inline">
                <label for="edgeHighlitingColor" class="col-sm-3 col-form-label text-right">Highlight Farbe</label>
                <InputText class="form-control input-sm col" id="edgeHighlitingColor" @bind-Value="StyleParameters.EdgeHighlitingColor"></InputText>
                <div class="colorpreview" style="background-color:@StyleParameters.EdgeHighlitingColor"></div>
            </div>
        </div>    
        <button type="submit" class="btn btn-outline-success"><span class="oi oi-data-transfer-download"></span> Speichern</button>
    </EditForm>
@code { 
    [Parameter]
    public GraphStyleParameters StyleParameters { get; set; }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void SaveSettings()
    {
        graphService.SaveGraphStyleParameters(StyleParameters);
        graphService.LoadGraphStyleParameters();
        graphService.Rerender();
        //navigationManager.NavigateTo(navigationManager.Uri, true);
    }
}
