@inject IJSRuntime JSRuntime
<h3>@DisplayGraph?.Name</h3>
    <BasicGraph VisualGraph="@DisplayGraph"></BasicGraph>
@code {
    public static double[] mousstate = { 0, 0 };
    [Parameter]
    public VisualGraph.Data.Additional.Models.BasicGraphModel DisplayGraph { get; set; }

    public Node activeNode { get; set; }
    private RenderFragment CustomRender { get; set; }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
}
