@using Frontenac.Blueprints.Impls.TG
@using VisualGraph.Components

<h3>@DisplayGraph?.Name</h3>

    @CustomRender;



@code {
    [Parameter]
    public BasicGraph DisplayGraph { get; set; }

    public GraphStyleParameters graphStyle { get; set; } = new GraphStyleParameters();
    
    private RenderFragment CustomRender { get; set; }
    protected override Task OnParametersSetAsync()
    {
        CustomRender = (builder) => {
            DisplayGraph?.AddToRenderTree(builder);
        };
        return base.OnParametersSetAsync();
    }


}
