@using Blazored.Toast.Configuration
@using VisualGraph.Client.Services
@inherits LayoutComponentBase
@inject IGraphService graphService
@inject NavigationManager navigationManager
@graphService.GetCssMarkup().Result
<BlazoredToasts Position="ToastPosition.TopLeft"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="oi oi-thumbs-up"
                ErrorIcon="oi oi-bug" 
                InfoIcon="oi oi-lightbulb"/>
<div class="sidebar">
    <NavMenu />
</div>

<div id="settings" class="navmenu-collapse collapse vh-100 mh-100">
    <div class="col-sm-12" style="overflow:hidden auto; max-height:100%;">
        @graphService.GetSettingsRenderFragment().Result
    </div>
</div>  
@if (navigationManager.Uri.Contains("create"))
{
    <div id="grapheditform" class="navmenu-collapse collapse show vh-100 mh-100">
        <div class="col-sm-12" style="overflow:hidden auto; max-height:100%;">
            @graphService.GetEditFormRenderFragment().Result
        </div>
    </div>
}

<div class="main">
    <div class="top-row pl-4 navbar navbar-dark">
        @if (navigationManager.Uri != navigationManager.BaseUri)
        {
            <LoadGraph></LoadGraph>
        }
        <div class="form-group ml-auto"><AccountMenuComponent /></div>
    </div>
    <div class="content vh-100">
        @Body
    </div>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        //await graphService.LoadGraphStyleParameters();
        StateHasChanged();
        await base.OnInitializedAsync();
    }
}
