@inject IGraphService graphService
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">VisualGraph</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <NavLinkExtension IsSubmenu="true"
                          ListItemClass="nav-item px-3"
                          Icon="oi oi-graph"
                          Text="Graph Editor"
                          href="create"
                          class="nav-link">
            <NavLink class="nav-link">
                <CollapseToggle Classes="w-100"
                                AsAnchor="true"
                                Target="grapheditform"
                                Title="Editor"
                                IconClass="oi oi-spreadsheet"
                                IsToggled="true"
                                OpenText="öffnen"
                                CloseText="schließen" />
            </NavLink>
        </NavLinkExtension>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="view">
                <span class="oi oi-graph" aria-hidden="true"></span> Graph betrachten
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="algorithm/dijkstra">
                <span class="oi oi-media-play" aria-hidden="true"></span> Dijkstra Algorithmus
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <a role="button" class="nav-link text-white" @onclick="@(async() => { openedSettings = !openedSettings; })" data-toggle="collapse" data-target="#settings">
                <span><span class="oi oi-wrench" aria-hidden="true"></span> Einstellungen </span><span class="text-right oi oi-chevron-@(!openedSettings?"right":"left")"></span>
            </a>
        </li>
    </ul>
</div>


@code {
    bool collapseNavMenu = true;
    bool openedSettings = false;
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    NavLink EditorSubmenuHolder { get; set; }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
