
@inherits AccountComponent
<Modal @ref="LoginModal">
    <LoginComponent/>
    <RegisterComponent />
</Modal>
<AuthorizeView Context="manage_user">
    <Authorizing>
        <h2>Authorisierung wird durchgeführt</h2>
    </Authorizing>
    <Authorized>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-person"></span> @(AuthTask.Result.User.Identity.Name)
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/account/manage">Verwalten</a>
                <a class="dropdown-item" href="/account/logout"><span class="oi oi-account-logout"></span> Abmelden</a>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="oi oi-person"></span> @("Gast")
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/account/login"><span class="oi oi-account-login"></span>Anmelden oder registrieren</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
        }
        @code {

            Modal LoginModal { get; set; }
            Modal RegisterModal { get; set; }


        }
