<button type="button" class="btn @Classes" data-toggle="collapse" data-target="#@Target" @onclick="@(()=> { IsToggled = !IsToggled; })">
    <span><span class="@IconClass" aria-hidden="true"></span> @Title @(!IsToggled ? OpenText:CloseText) </span>
</button>
@code {
    [Parameter]
    public string Title { get; set; } = "";
    [Parameter]
    public string Target { get; set; } = "";
    [Parameter]
    public string Classes { get; set; } = "";
    [Parameter]
    public string IconClass { get; set; } = "";
    [Parameter]
    public string OpenText { get; set; } = "";
    [Parameter]
    public string CloseText { get; set; } = "";
    [Parameter]
    public bool IsToggled { get; set; } = false;

}
