@inject IGraphService graphService
@inherits ContextMenu
<Modal @ref="ModalAutoLayout">
    <AutoLayoutForm OnSubmit="async () => { 
                                  this.Show();
                                  ModalAutoLayout.Show();
                                  await graphService.Rerender(); 
                              }" />
</Modal>
@if (graphService.CurrentGraphModel != null && visible)
{

    <div class="card" style="position:absolute; left:@(PosX - 5)px; top:@(PosY - 5)px" onmouseover="window.reposctxmenu(this)">
        <div class="card-header">
            <h6>Graph Context Menü<button type="button" @onclick="() => { visible = false; }" class="close">x</button></h6>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary w-100" @onclick="ModalAutoLayout.Show">Automatisches Layout</button>
            <button type="button" class="btn btn-primary w-100" @onclick="async() => await graphService.Crop()">Zuschneiden und zentrieren</button>
        </div>
    </div>
}
@code {
    Modal ModalAutoLayout;
}
